@model EF6_Beta_Demo.Models.Manufacturer
@{
    ViewBag.Title = "Edit Manufacturers - Async!";
}
@using (Html.BeginForm()) {
    <h1>@ViewBag.Title</h1>
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    <br />
    @Html.LabelFor(x => x.Country)
    @Html.TextBoxFor(x => x.Country)

    <input type="submit" value="Save" />
}
